@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, sans-serif;
    color: #1a1a1a;
}

/* logo and nav-bar */

h1 {
    font-family: Playfair+Display, sans-serif;
    letter-spacing: 3px;
    color: #0073ff;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
}

header>div {
    background-color: #dddddd;
    height: 150px;
    width: 100%;
}

#nav-bar {
    font-size: 125%;
}

#nav-bar li {
    float: left;
    list-style-type: none;
    margin: 30px 125px;
    padding-left: 25px;
}

#nav-bar a {
    color: #0073ff;
    text-decoration: none;
}

#nav-bar a:hover {
    border-bottom: 1px solid #00cc00;
    color: #00cc00;
}

/* home page image and cover text */

#main-image {
    width: 100%;
    height: 1000px;
    background: url(../images/high-end-paving.jpg) no-repeat center center
}

#cover-text {
    height: auto;
    width: 250px;
    background-color: rgba(0, 204, 0, 60%);
    margin-left: 350px;
    margin-top: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute
}

#cover-text>p {
    font-size: 150%;
    font-weight: 500;
    color: white;
    font-family: Merriweather, sans-serif;
    text-align: center;
}

/* our services and what we do */


#left-service {
    width: 33%;
    height: 450px;
    float: left;
    background-color: rgba(0, 115, 255, 70%);
    display: block;
}

#left-service-image {
    height: 250px;
    width: 250px;
    margin-left: 125px;
    margin-top: 25px;
    border-radius: 50%;
    background: url(/assets/images/black-white-mosaic.jpg);
}

#center-text-div {
    width: 33%;
    height: 450px;
    display: inline-block;
    text-align: center;
    margin-left: 7px;
}

#center-text-div h2 {
    font-family: Playfair Display, sans-serif;
    text-decoration: underline;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

#center-text-div p {
    font-family: Merriweather, sans-serif;
    font-size: 125%;
    margin-top: 30px;
}

#about-us-button {
    font-size: 20px;
    margin-top: 50px;

}

#about-us-button:hover {
    color: orange;
}

#right-service {
    width: 33%;
    height: 450px;
    float: right;
    background-color: rgba(0, 204, 0, 70%);
    display: block;
}

#right-service-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: 125px;
    margin-top: 25px;
    background: url(/assets/images/outdoor-space-pool.jpg) no-repeat;
}

.lr-service-text {
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    font-size: 125%;
    font-weight: 600;
    font-family: Merriweather, sans-serif;
    border: none;
    color: whitesmoke;
}

#right-service>a {
    text-decoration: none;
}

#right-service>a:hover {
    text-decoration: underline #ffa500;
}

#left-service>a {
    text-decoration: none;
}

#left-service>a:hover {
    text-decoration: underline #ffa500;
}

/* footer and free quote button link */

#socials-div {
    float: left;
    height: 150px;
    width: 50%;
    background-color: #dd8;

}

#socials-div li {
    float: left;
    list-style-type: none;
    margin: 35px 75px 100px 125px;
    font-size: 30px;

}


#free-quote-div {
    float: right;
    height: 150px;
    width: 50%;
    background-color: #dddddd;

}

.footer-heading {
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 28px;
}

#quote-button {
    margin-left: 300px;
    margin-top: 30px;
    font-size: 30px;
}

#quote-button:hover {
    color: #ffa500;
    text-decoration: underline;
}

/* our services page */
/* driveways and surfacing section */

#driveway-heading {
    padding: 1% 0 0 10%;
    text-decoration: underline;
    background-color: #ffa500;
    font-size: 175%;
}

#driveways-text-div {
    float: left;
    width: 50%;
    height: 600px;
    font-size: 20px;
    text-align: center;
    background-color: #ffa500;
}

#driveways-text-div p {
    padding: 25px 5px 5px 5px;
}

#concrete-driveway2 {
    width: 50%;
    height: 50%;
    float: right;
    margin-top: 61px;
}

#workers-image {
    width: 50%;
    height: 50%;
    float: left;
    margin-top: 61px;

}



#driveways-image-div {
    float: right;
    width: 50%;
    height: 600px;
}

#driveway-1 {
    float: right;
    width: 50%;
    height: 50%;
    margin: 0;
}

#driveway-2 {
    float: left;
    width: 50%;
    height: 50%;
}

#driveway-bollard {
    width: 50%;
    height: 50%;
    float: right;
}

#mosaic-image {
    width: 50%;
    height: 50%;
    float: left;
}

/* garden and outdoor spaces section */

#garden-spaces-heading {
    padding: 1% 10% 0 0;
    text-decoration: underline;
    background-color: #ffa500;
    font-size: 175%;
    text-align: right;
}

#garden-text-div {
    width: 50%;
    height: 600px;
    float: right;
    font-size: 20px;
    text-align: center;
    background-color: #ffa500;
}

#garden-text-div p {
    padding: 25px 5px 5px 5px;
}

#garden-img-div {
    width: 50%;
    height: 600px;
    float: left;
}

#pool-patio-img {
    width: 50%;
    height: 50%;
    float: left;
}

#paved-path-img1 {
    width: 50%;
    height: 50%;
    float: right;
}

#outside-pool-img2 {
    width: 50%;
    height: 50%;
    float: left;
}

#table-patio-img {
    width: 50%;
    height: 50%;
    float: right;
}

#cobble-path-img {
    width: 50%;
    height: 50%;
    float: right;
    margin-top: 61px;
}

#worker-tools-img {
    width: 50%;
    height: 50%;
    float: left;
    margin-top: 61px;
}

/* about and contact us */

/* about us section  */

#about-us {
    width: 60%;
    height: auto;
    float: left;
    text-align: center;
}


#about-us p {
    font-size: 125%;
    padding-top: 1%;
}

#about-us>h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 175%;
}

#why-us-heading {
    padding: 10px;
    text-decoration: underline;
    font-size: 150%;
}

#list>li {
    padding: 5px 0 5px 10px;
    font-size: 125%;
    text-align: left;
}

#contact-div {
    width: 40%;
    height: 600px;
    float: right;
    font-size: 150%;

}

#contact-div>h2 {
    text-decoration: underline;
    text-align: center;
}

#map {
    width: 100%;
    height: 250px;
}

#contact-details {
    margin: 25px 0;
    text-align: center;
    border-spacing: 50px;
}
/* quote form */

#form-image {
    width: 100%;
    height: 600px;
    background: url(/assets/images/rear-garden-paved-path2.jpg) no-repeat center;
}

#form-cover-div {
    width: 30%;
    height: auto;
    background-color: rgba(17, 17, 17, 0.505);
    text-align: center;
    margin-left: 25%;
    color: whitesmoke;
    position: inherit;
}

#form-cover-div>h2 {
    text-decoration: underline;
    font-size: 175%;
}

#form-text {
    padding: 10px 10px;
    margin-bottom: 5px;
    text-align: right;
    font-size: 125%;
}

#form-text input {
    padding-bottom: 15px;
}

textarea {
    margin-top: 5px;
}