@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, sans-serif;
    color: #1a1a1a;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}



/* logo and nav-bar */

h1 {
    font-family: Playfair+Display, sans-serif;
    letter-spacing: 3px;
    color: #0073ff;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
}

#logo {
    background-color: #dddddd;
    height: 150px;
}

#nav-bar {
    font-size: 125%;
}

#nav-bar li {
    float: left;
    list-style-type: none;
    margin: 30px 100px;
    padding-left: 25px;
}

#nav-bar a {
    color: #0073ff;
    text-decoration: none;
}

#nav-bar a:hover {
    border-bottom: 1px solid #00cc00;
    color: #00cc00;
}

/* home page image and cover text */

#main-image {
    height: 1000px;
    background: url(../images/high-end-paving.jpg) no-repeat center center;
}

#cover-text {
    height: auto;
    background-color: rgba(0, 204, 0, 60%);
    margin-left: 350px;
    margin-top: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
}

#cover-text>p {
    font-size: 150%;
    font-weight: 500;
    color: white;
    font-family: Merriweather, sans-serif;
    text-align: center;
}

/* our services and what we do */


#left-service {
    height: 450px;
    background-color: rgba(0, 115, 255, 70%);
    float: left;
    /* clear: both; */
}

#left-service-image {
    height: 250px;
    width: 250px;
    margin-left: 125px;
    border-radius: 50%;
    background: url(/assets/images/black-white-mosaic.jpg);
    margin-top: 25px;
}

#center-text-div {
    height: 450px;
    text-align: center;
    display: inline-block;
}

#center-text-div h2 {
    font-family: Playfair Display, sans-serif;
    text-decoration: underline;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

#center-text-div p {
    font-family: Merriweather, sans-serif;
    font-size: 125%;
    margin-top: 30px;
}

#about-us-button {
    font-size: 20px;
    margin-top: 50px;

}

#about-us-button:hover {
    color: orange;
}

#right-service {
    height: 450px;
    background-color: rgba(0, 204, 0, 70%);
    float: right;

}

#right-service-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: 125px;
    margin-top: 25px;
    background: url(/assets/images/outdoor-space-pool.jpg) no-repeat;
}

.lr-service-text {
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    font-size: 125%;
    font-weight: 600;
    font-family: Merriweather, sans-serif;
    border: none;
    color: whitesmoke;
}

#right-service>a {
    text-decoration: none;
}

#right-service>a:hover {
    text-decoration: underline #ffa500;
}

#left-service>a {
    text-decoration: none;
}

#left-service>a:hover {
    text-decoration: underline #ffa500;
}

/* footer and free quote button link */

#socials-div {
    float: left;
    height: 150px;
    background-color: #dd8;

}

#socials-div li {
    float: left;
    list-style-type: none;
    margin: 35px 50px 150px 35px;
    font-size: 30px;

}


#free-quote-div {
    float: right;
    height: 150px;
    background-color: #dddddd;

}

.footer-heading {
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 28px;
}

#quote-button {
    margin-left: 300px;
    margin-top: 30px;
    font-size: 30px;
}

#quote-button:hover {
    color: #ffa500;
    text-decoration: underline;
}

/* our services page */

/* driveways and surfacing section */

#driveway-heading {
    padding: 1% 0 0 10%;
    text-decoration: underline;
    background-color: #ffa500;
    font-size: 175%;
}

#driveways-text-div {
    float: left;
    height: 600px;
    font-size: 20px;
    text-align: center;
    background-color: #ffa500;
}

#driveways-text-div p {
    padding: 25px 5px 5px 5px;
}

#concrete-driveway2 {
    width: 50%;
    height: 50%;
    float: right;
    margin-top: 61px;
}

#workers-image {
    width: 50%;
    height: 50%;
    float: left;
    margin-top: 61px;

}



#driveways-image-div {
    float: right;
    height: 600px;
}

#driveway-1 {
    float: right;
    width: 50%;
    height: 50%;
    margin: 0;
}

#driveway-2 {
    float: left;
    width: 50%;
    height: 50%;
}

#driveway-bollard {
    width: 50%;
    height: 50%;
    float: right;
}

#mosaic-image {
    width: 50%;
    height: 50%;
    float: left;
}

/* garden and outdoor spaces section */

#garden-spaces-heading {
    padding: 1% 10% 0 0;
    text-decoration: underline;
    background-color: #ffa500;
    font-size: 175%;
    text-align: right;
}

#garden-text-div {
    height: 600px;
    float: right;
    font-size: 20px;
    text-align: center;
    background-color: #ffa500;
}

#garden-text-div p {
    padding: 25px 5px 5px 5px;
}

#garden-img-div {
    height: 600px;
    float: left;
}

#pool-patio-img {
    width: 50%;
    height: 50%;
    float: left;
}

#paved-path-img1 {
    width: 50%;
    height: 50%;
    float: right;
}

#outside-pool-img2 {
    width: 50%;
    height: 50%;
    float: left;
}

#table-patio-img {
    width: 50%;
    height: 50%;
    float: right;
}

#cobble-path-img {
    width: 50%;
    height: 50%;
    float: right;
    margin-top: 61px;
}

#worker-tools-img {
    width: 50%;
    height: 50%;
    float: left;
    margin-top: 61px;
}

/* about and contact us */

/* about us section  */

#about-us {
    height: auto;
    float: left;
    text-align: center;
}


#about-us p {
    font-size: 125%;
    padding-top: 1%;
}

#about-us>h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 175%;
}

#why-us-heading {
    padding: 10px;
    text-decoration: underline;
    font-size: 150%;
}

#list>li {
    padding: 10px 0 5px 10px;
    font-size: 125%;
    text-align: left;
}

#contact-div {
    height: 600px;
    float: right;
    font-size: 150%;

}

#contact-div>h2 {
    text-decoration: underline;
    text-align: center;
}

#map {
    height: 250px;
}

#contact-details {
    margin: 25px 0;
    text-align: center;
    border-spacing: 50px;
}

/* quote form */

#form-image {
    width: 100%;
    height: 600px;
    background: url(/assets/images/rear-garden-paved-path2.jpg) no-repeat center;
}

#form-cover-div {
    width: 30%;
    height: auto;
    background-color: rgba(17, 17, 17, 0.505);
    text-align: center;
    margin-left: 25%;
    color: whitesmoke;
    position: inherit;
}

#form-cover-div>h2 {
    text-decoration: underline;
    font-size: 175%;
}

#form-text {
    padding: 10px 10px;
    margin-bottom: 5px;
    text-align: right;
    font-size: 125%;
}

#form-text input {
    padding-bottom: 15px;
}

textarea {
    margin-top: 5px;
}

/* media queries */

/* screens 1024px and below */

@media screen and (max-width:1024px) {
    #nav-bar li {
        float: left;
        list-style-type: none;
        margin: 30px 50px;
        padding-left: 25px;
    }

    #left-service-image {
        height: 250px;
        width: 250px;
        margin-left: 50px;
        border-radius: 50%;
        background: url(/assets/images/black-white-mosaic.jpg);
        margin-top: 25px;
    }

    #right-service-image {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        margin-left: 50px;
        margin-top: 25px;
        background: url(/assets/images/outdoor-space-pool.jpg) no-repeat;
    }

    #socials-div li {
        float: left;
        list-style-type: none;
        margin-left: 75px;
        font-size: 30px;
    }

    #quote-button {
        margin-left: 160px;
        margin-top: 30px;
        font-size: 30px;
    }

    #driveways-text-div p {
        padding: 17px 5px 5px 5px;
    }

    #garden-text-div p {
        padding: 17px 5px 5px 5px;
    }

    #contact-details {
        margin: 25px 0;
        text-align: center;
        border-spacing: 20px;
    }
}