* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, 'sans-serif';
    color: #1a1a1a;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

h1 {
    font-family: 'Playfair+Display', 'sans-serif';
    letter-spacing: 3px;
    color: #0073ff;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
}

#logo {
    background-color: #dddddd;
    height: 150px;
}

#nav-bar {
    font-size: 125%;
}

#nav-bar li {
    float: left;
    list-style-type: none;
    margin: 30px 100px;
    padding-left: 25px;
}

#nav-bar a {
    color: #0073ff;
    text-decoration: none;
}

#nav-bar a:hover {
    border-bottom: 1px solid #00cc00;
    color: #00cc00;
}

#main-image {
    height: 1000px;
    background: url(../images/high-end-paving.jpg) center center no-repeat;
}

#cover-text {
    height: auto;
    background-color: rgb(0, 204, 0, 60%);
    margin-left: 350px;
    margin-top: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
}

#cover-text>p {
    font-size: 150%;
    font-weight: 500;
    color: white;
    font-family: Merriweather, 'sans-serif';
    text-align: center;
}

#left-service {
    height: 450px;
    background-color: rgb(0, 115, 255, 70%);
    float: left;
}

#left-service-image {
    height: 250px;
    width: 250px;
    margin-left: 125px;
    border-radius: 50%;
    background: url(../images/black-white-mosaic.jpg);
    margin-top: 25px;
}

#center-text-div {
    height: 450px;
    text-align: center;
    display: inline-block;
}

#center-text-div h2 {
    font-family: 'Playfair Display', 'sans-serif';
    text-decoration: underline;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

#center-text-div p {
    font-family: Merriweather, 'sans-serif';
    font-size: 125%;
    margin-top: 30px;
}

#right-service {
    height: 450px;
    background-color: rgb(0, 204, 0, 70%);
    float: right;
}

#right-service-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: 125px;
    margin-top: 25px;
    background: url(../images/outdoor-space-pool.jpg) no-repeat;
}

.lr-service-text {
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    font-size: 125%;
    font-weight: 600;
    font-family: Merriweather, 'sans-serif';
    border: none;
    color: whitesmoke;
}

#right-service>a {
    text-decoration: none;
}

#right-service>a:hover {
    text-decoration: underline #ffa500;
}

#left-service>a {
    text-decoration: none;
}

#left-service>a:hover {
    text-decoration: underline #ffa500;
}

#socials-div {
    float: left;
    height: 150px;
    background-color: #dd8;
}

#socials-div li {
    float: left;
    list-style-type: none;
    margin: 25px 0 0 150px;
    font-size: 30px;
}

#free-quote-div {
    float: right;
    height: 150px;
    background-color: #dddddd;
    text-align: center;
}

#free-quote-div a {
    padding-top: 30px;
}

.footer-heading {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-size: 28px;
    padding-top: 20px;
}

#driveway-heading {
    padding: 1% 0 0 10%;
    text-decoration: underline;
    background-color: #ffa500;
    font-size: 175%;
}

#driveways-text-div {
    float: left;
    height: 600px;
    font-size: 20px;
    text-align: center;
    background-color: #ffa500;
}

#driveways-text-div p {
    padding: 25px 5px 5px 5px;
}

#concrete-driveway2 {
    width: 50%;
    height: 50%;
    float: right;
}

#workers-image {
    width: 50%;
    height: 50%;
    float: left;
}

#driveways-image-div {
    float: right;
    height: 600px;
}

#driveway-1 {
    float: right;
    width: 50%;
    height: 50%;
    margin: 0;
}

#driveway-2 {
    float: left;
    width: 50%;
    height: 50%;
}

#driveway-bollard {
    width: 50%;
    height: 50%;
    float: right;
}

#mosaic-image {
    width: 50%;
    height: 50%;
    float: left;
}

#garden-spaces-heading {
    padding: 1% 10% 0 0;
    text-decoration: underline;
    background-color: #ffa500;
    font-size: 175%;
    text-align: right;
}

#garden-text-div {
    height: 600px;
    float: right;
    font-size: 20px;
    text-align: center;
    background-color: #ffa500;
}

#garden-text-div p {
    padding: 25px 5px 5px 5px;
}

#garden-img-div {
    height: 600px;
    float: left;
}

#pool-patio-img {
    width: 50%;
    height: 50%;
    float: left;
}

#paved-path-img1 {
    width: 50%;
    height: 50%;
    float: right;
}

#outside-pool-img2 {
    width: 50%;
    height: 50%;
    float: left;
}

#table-patio-img {
    width: 50%;
    height: 50%;
    float: right;
}

#cobble-path-img {
    width: 50%;
    height: 50%;
    float: right;
}

#worker-tools-img {
    width: 50%;
    height: 50%;
    float: left;
}

#about-us {
    height: auto;
    background-color: rgb(0, 204, 0, 0.80);
    float: left;
    text-align: center;
    font-size: 125%;
}



#about-us p {
    font-size: 125%;
    padding-top: 1%;
}

#about-us>h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 175%;
    background-color: orange;
    padding: 1.6%;
}

#why-us-heading {
    padding: 10px;
    text-decoration: underline;
    font-size: 150%;
    background-color: orange;
}

#list>li {
    padding: 0.58rem;
    font-size: 125%;
    text-align: left;
}

#contact-div {
    height: max-content;
    float: right;
    font-size: 150%;
    background-color: #0073ff;
}

#contact-div>h2 {
    padding: 3%;
    text-decoration: underline;
    text-align: center;
    background-color: #ffa500;
}

#map {
    height: 250px;
}

#contact-details {
    text-align: center;
    background-color: #0073ff;
    padding: 30% 0;
    font-size: 150%;
    border-spacing: 10px;
}

#form-image {
    width: 100%;
    height: 600px;
    background: url(../images/rear-garden-paved-path2.jpg) center no-repeat;
}

#form-cover-div {
    width: 33.33%;
    height: auto;
    background-color: rgb(17, 17, 17, 0.80);
    text-align: center;
    margin-left: 25%;
    color: whitesmoke;
    position: inherit;
    font-size: 22px;
}

#form-cover-div>h2 {
    text-decoration: underline;
    font-size: 175%;
}

#form-text {
    padding: 10px 10px;
    margin-bottom: 5px;
    text-align: right;
    font-size: 125%;
}

#form-text input {
    padding-bottom: 15px;
}

textarea {
    margin-top: 5px;
}

/* screen size 1600px and below */

@media screen and (max-width: 1600px) {
    #nav-bar a {
        padding-left: 30px;
    }

    #left-service-image {
        margin-left: 140px;
    }

    #right-service-image {
        margin-left: 135px;
    }

    #center-text-div {
        font-size: 125%;
    }

    #form-cover-div {
        width: 41.66%;
    }
}

/* screen size 1280px and below */

@media screen and (max-width: 1280px) {

    #nav-bar a {
        padding-left: 0;
    }

    #left-service-image {
        margin-left: 90px;
    }

    #right-service-image {
        margin-left: 100px;
    }

    #contact-details {
        text-align: center;
        border-spacing: 50px;
        background-color: #0073ff;
        padding: 10% 10% 12% 0;
        font-size: 150%;
    }


    #why-us-heading {
        padding: 10px;
        text-decoration: underline;
        font-size: 150%;
        background-color: orange;
        margin-top: 3%;
    }

    #contact-div>h2 {
        padding: 3%;
        text-decoration: underline;
        text-align: center;
        background-color: #ffa500;
        font-size: 125%;
    }

    #about-us {
        height: auto;
        background-color: rgb(0, 204, 0, 0.80);
        float: left;
        width: 58.33%;
        text-align: center;
        font-size: 110%;
    }
}

/* screen size 1024px and below */

@media screen and (max-width: 1024px) {

    #nav-bar li {
        float: left;
        list-style-type: none;
        margin: 30px 50px;
        padding-left: 25px;
    }

    #left-service-image {
        height: 250px;
        width: 250px;
        margin-left: 50px;
        border-radius: 50%;
        background: url(../images/black-white-mosaic.jpg);
        margin-top: 25px;
    }

    #about-us-button {
        font-size: 20px;
        margin-top: 25px;
    }

    #right-service-image {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        margin-left: 50px;
        margin-top: 25px;
        background: url(../images/outdoor-space-pool.jpg) no-repeat;
    }

    #socials-div li {
        float: left;
        list-style-type: none;
        margin: 35px 0 10px 20%;
        font-size: 30px;
    }

    #quote-button {
        margin-left: 160px;
        margin-top: 30px;
        font-size: 30px;
    }

    #driveways-text-div p {
        padding: 17px 5px 5px 5px;
    }

    #garden-text-div p {
        padding: 17px 5px 5px 5px;
    }

    #contact-details {
        margin: 0;
        text-align: center;
        border-spacing: 16px;
        font-size: 125%;
        padding: 31% 0;
    }

    #contact-div {
        width: 41.66%;
    }
}

/* screen size 768px and below */

@media screen and (max-width: 768px) {

    #nav-bar a {
        padding-left: 0;
    }

    #nav-bar li {
        float: left;
        list-style-type: none;
        margin: 30px 30px;
        padding-left: 25px;
    }

    .col-2 {
        width: 20%;
    }

    #left-service-image {
        height: 200px;
        width: 200px;
        margin-left: 30px;
        border-radius: 50%;
        background: url(../images/black-white-mosaic.jpg);
        margin-top: 25px;
    }

    #right-service-image {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-left: 30px;
        margin-top: 25px;
        background: url(../images/outdoor-space-pool.jpg) no-repeat;
    }

    .lr-service-text {
        text-align: center;
        padding-top: 10px;
        margin-top: 25px;
        font-size: 125%;
        font-weight: 600;
        font-family: Merriweather, sans-serif;
        border: none;
        color: whitesmoke;
    }

    #center-text-div p {
        font-family: Merriweather, sans-serif;
        font-size: 100%;
        margin-top: 10px;
    }

    #about-us-button {
        font-size: 20px;
        margin-top: 20px;
    }

    .footer-heading {
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 20px;
    }

    #socials-div li {
        float: left;
        list-style-type: none;
        padding: 10px 45px;
        margin: 0;
    }

    #quote-button {
        margin-left: 100px;
        margin-top: 20px;
        font-size: 28px;
        margin-bottom: 10px;
    }

    #free-quote-div {
        float: right;
        height: auto;
        background-color: #dddddd;
        padding-top: 25px;
        padding-bottom: 34px;
    }

    #socials-div {
        float: left;
        height: auto;
        background-color: #dd8;
    }

    #driveway-heading {
        padding: 1% 0 0 10%;
        text-decoration: underline;
        background-color: #ffa500;
        font-size: 150%;
    }

    #driveways-text-div {
        float: left;
        height: auto;
        font-size: 18px;
        text-align: center;
        background-color: #ffa500;
    }

    #driveways-image-div {
        float: right;
        height: 500px;
        display: inline;
    }

    #concrete-driveway2 {
        width: 50%;
        height: 165px;
        float: right;
    }

    #workers-image {
        width: 50%;
        height: 165px;
        float: left;
    }

    #garden-spaces-heading {
        padding: 1% 10% 0 0;
        text-decoration: underline;
        background-color: #ffa500;
        font-size: 150%;
        text-align: right;
    }

    #garden-text-div p {
        padding: 5px 5px 11px 5px;
        font-size: 18px;
    }

    #contact-details {
        margin: 0;
        text-align: center;
        font-size: 150%;
        padding: 37% 0;
        border-spacing: 1em;
    }

    #about-us {
        height: auto;
        float: left;
        text-align: center;
        width: 58.33%;
        font-size: 14px;
    }

    #contact-div {
        height: auto;
        float: right;
        font-size: 100%;
        width: 41.66%;
    }

    #form-cover-div {
        width: 41.66%;
        font-size: 16px;
    }

    #garden-text-div {
        float: left;
        display: inline;
    }

    #garden-img-div {
        height: 545px;
        float: left;
        display: inline;
    }
}

/* screen size 600px and below */

@media screen and (max-width: 600px) {

    h1 {
        font-size: 28px;
    }

    #nav-bar li {
        float: left;
        list-style-type: none;
        margin: 0;
        padding-top: 10%;
        font-size: 18px;
        padding-left: 5%;
    }



    #cover-text {
        height: auto;
        background-color: rgb(0, 204, 0, 60%);
        margin-left: 50px;
        margin-top: 200px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-right: 50px;
        position: absolute;
        width: auto;
    }

    #main-image {
        height: 750px;
        background: url(../images/high-end-paving.jpg) center center no-repeat;
    }

    #left-service {
        height: 450px;
        background-color: rgb(0, 115, 255, 70%);
        float: left;
        width: 100%;
    }

    #left-service-image {
        height: 200px;
        width: 200px;
        margin-left: 24%;
        border-radius: 50%;
        background: url(../images/black-white-mosaic.jpg);
        margin-top: 25px;
    }



    #center-text-div {
        height: 450px;
        text-align: center;
        width: 100%;
        float: left;
        padding: 10px;
    }

    #right-service {
        height: 450px;
        background-color: rgb(0, 204, 0, 70%);
        float: right;
        padding: 10px;
        width: 100%;
    }

    #right-service-image {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-left: 22%;
        margin-top: 25px;
        background: url(../images/outdoor-space-pool.jpg) no-repeat;
    }

    .footer-heading {
        text-align: center;
        text-decoration: underline;
        font-size: 14px;
        padding: 5px;
    }

    #socials-div li {
        float: left;
        list-style-type: none;
        margin: 10px;
        padding: 9px 2px;
    }

    #center-text-div h2 {
        font-size: 28px;
    }

    .serv-img-grp1 {
        display: none;
    }

    #driveways-image-div {
        width: 0;
        display: none;
    }

    #driveways-text-div {
        width: 100%;
    }

    #driveway-heading {
        text-align: center;
        padding-left: 5px;
    }

    #garden-img-div {
        width: 0;
        display: none;
    }

    #garden-text-div {
        width: 100%;
        padding: 5px;
        height: auto;
    }

    #garden-spaces-heading {
        padding: 10px;
        text-align: center;
    }

    #about-us {
        height: auto;
        text-align: center;
        width: 100%;
    }

    #contact-div {
        height: auto;
        font-size: 100%;
        width: 100%;
    }

    #form-cover-div {
        width: 75%;
        font-size: 13px;
        float: left;
        margin: 0;
    }

    #form-cover-div {
        width: 75%;
    }

    #form-cover-div {
        width: 100%;
        font-size: 16px;
        float: left;
        margin: 0;
        height: -webkit-fill-available;
    }

    #form-cover-div>h2 {
        text-decoration: underline;
        font-size: 175%;
        padding-top: 50px;
    }

    #contact-details {
        text-align: center;
        font-size: 22px;
        border-spacing: 10px;
        padding: 0;
    }
}


/* screen size 320px and below */

@media screen and (max-width: 320px) {

    #nav-bar a {
        padding-left: 0;
        font-size: 80%;
    }

    #about-us {
        height: auto;
        text-align: center;
        width: 100%;
        font-size: 12px;
        padding: 0;
    }

    #contact-div {
        height: auto;
        font-size: 100%;
        width: 100%;
        padding-top: 0;
    }


    #socials-div li {
        float: left;
        list-style-type: none;
        font-size: 20px;
        margin: 0;
        padding-left: 25px;
    }

    #socials-div {
        float: left;
        height: auto;
        background-color: #dd8;
        padding-bottom: 1px;
    }

    #free-quote-div {
        padding-bottom: 19px;
        padding-top: 5px;
    }

    .serv-img-grp1 {
        display: none;
    }

    #driveways-image-div {
        width: 0;
        display: none;
    }

    #driveways-text-div {
        width: 100%;
    }

    #driveway-heading {
        text-align: center;
        padding-left: 5px;
    }

    #garden-img-div {
        width: 0;
        display: none;
    }

    #garden-text-div {
        width: 100%;
        padding: 5px;
        height: auto;
    }

    #garden-spaces-heading {
        padding: 10px;
        text-align: center;
    }

    #left-service-image {
        margin-left: 20%;
    }

    #right-service-image {
        margin-left: 18%;
    }


}